<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>APP</h1>
    <!--stop the form from refreshing the page, for example: when the user click the button the page doesn't refresh-->
    <form action="javascript:void(0)">
        <label for="message">Message</label>
        <input type="text" id="message">
        <button type="submit">Submit</button>
    </form>
    <div class="messages"></div>
    <script src="../services/websocket-client.js"></script>
</body>

</html>